html {
  height: 100%;
}

body {
    background-color: #A6192E;
    height: 100%;
    margin: 0 0 0 0;
}

div.top {
    padding-top: 2%;
    width: 90%;
    background-color: #3D3935;
    margin: auto;
    padding-left: 1%;
}

div.bottom {
    padding-top: 3%;
    width: 90%;
    background-color: #3D3935;
    margin: auto;
    padding-left: 1%;
}

div.middle {
    width: 90%;
    height: 80%;
    overflow: auto;
    background-color: white;
    margin: auto;
    padding-left: 1%;
    font-family: sans-serif, Ariel;
}

div.inside {
    border-radius: 2px;
    border: 2px solid #D9E5E9;
    width: 70%;
    margin: 0 0 0 0;
    background-color: #E9EFF1;
    padding: 1%;
    font-family: "Times New Roman", Times, serif;
    font-weight:550;
    font-size: 18px;
    position: relative;
}

div.calcButtons {
  padding: 2%;
  position: absolute;
  right: 0;
  bottom: 0;
}

#output {
  padding: 3%
}

button {
  border-radius: 5px;
  background-color: #B5111A;
  padding: 6px;
  min-width: 100px;
  font-weight: bold;
  font-size: 18px;
  font-family: "Times New Roman Bold", sans-serif;
  color: white;
}

h2 {
    margin: 0 0 1% 0;
    color: black;
}

h3 {
    color: #B5111A;
    margin: 1% 0 0 0;
}

table, th, td {
    border: 1px solid #C1C1C1;
    padding: 5px;
    text-align: left;
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #DDDDDD;
    width: 80px;
    font-size:16px;
    font-weight: bold;
}

td {
    height: 70px;
    width: 80px;
    font-size: 16px;
}

input {
  height: 25px;
  width: 80px;
  margin-top: 5px;
}
